// babel-plugin-ramda patch until v1.5.0 release bug is fixed
// https://github.com/megawac/babel-plugin-ramda/issues/38
{
  "env": {
    "test": {
      "presets": ["env"]
    },
    "development": {
      "presets": [["env", { "modules": false }]],
      "plugins": [
        [
          "./babel-plugin-ramda",
          {
            "useES": true
          }
        ]
      ]
    }
  }
}
